<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhQqr5hE3W-2AlCldywMExwz6umrpYDkg</string>
	<key>GCM_SENDER_ID</key>
	<string>911239656625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roomfinder.app</string>
	<key>PROJECT_ID</key>
	<string>roomfinder-mtaa</string>
	<key>STORAGE_BUCKET</key>
	<string>roomfinder-mtaa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911239656625:ios:689ed18df595c31740de90</string>
</dict>
</plist>